<%= form_for(@api_v1_robot) do |f| %>
  <% if @api_v1_robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_v1_robot.errors.count, "error") %> prohibited this api_v1_robot from being saved:</h2>

      <ul>
      <% @api_v1_robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :profession %><br>
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
