<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Robots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Profession</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_robots.each do |api_v1_robot| %>
      <tr>
        <td><%= api_v1_robot.name %></td>
        <td><%= api_v1_robot.profession %></td>
        <td><%= api_v1_robot.image %></td>
        <td><%= link_to 'Show', api_v1_robot %></td>
        <td><%= link_to 'Edit', edit_api_v1_robot_path(api_v1_robot) %></td>
        <td><%= link_to 'Destroy', api_v1_robot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Robot', new_api_v1_robot_path %>
